footer {
}
//====================================================================================================
.footer {
	background: #F8FCFF;
	/* .footer__container */
	&__container {
		display: flex;
		align-items:center;
		justify-content: space-between;
		flex-wrap: wrap;
		height: 95px;
		@media (max-width: 493px){
			justify-content: center;
			height: 120px;
			padding: 15px;
		}
	}

	/* .footer__logo */
	&__logo {
		display: flex;
		align-items: center;
		span{
			color: $bgColor;
			font-weight: 500;
			font-size: 38.8364px;
			line-height: math.div(47, 38.8364) * 100%;
			letter-spacing: -0.015em;
			text-transform: uppercase;
			margin: 0px 10px 0px 0px;
		}
	}
	
	/* .footer__img */
	&__img {
		height: 47px;
		width: 47px;
		margin: 0px 18px 0px 0px;
		img{
			width: 100%;
			height: 100%;
			flex: 0 0 100%;
		}
	}

	/* .footer__copiright */
	&__copiright {
		color: $thirdColor;
		font-weight: normal;
		font-size: 15px;
		line-height: math.div(24, 15) * 100%;
		letter-spacing: -0.015em;
	}
}
//====================================================================================================
