.header {

	/* .header__wrapper */
	&__wrapper {
		position: fixed;
		width: 100%;
		min-height: 95px;
		background: $bgliteColor;
		box-shadow: 0px 4px 8px rgba(0, 131, 209, 0.05),
		0px 2px 4px rgba(0, 87, 139, 0.05),
		inset 0px 2px 15px rgba(255, 255, 255, 0.1);
		z-index: 50;
	}

	/* .header__body */
	&__body {
		display: flex;
		flex-wrap: wrap;
		min-height: 95px;
		justify-content: space-between;
		align-items: center;
		flex: 0 0 math.div(868, 1640) * 100%;
		padding: 21px 0px;
		@media (max-width: 1440px){
			flex-direction: column;

		}
	}
}

.logo {
	display: flex;
	justify-content: space-between;
	@media (min-width:$md3+px){
		flex: 0 0 math.div(888, 1640) * 100%;
		
	}

	/* .logo__img */
	&__img {
		width: 47px;
		height: 47px;
		margin: 0px 20px 0px 0px;
		img {
			width: 100%;
			height: 100%;
			flex: 0 0 47px;
		}
	}

	/* .logo__title */
	&__title {
		width: 100%;
		color: $secondColor;
		font-weight: 600;
		@include adaptiv-value("font-size", 18, 12, 1);
		line-height: math.div(22, 18) * 100%;
		letter-spacing: -0.015em;
		text-transform: uppercase;
		text-align: center;
		span{
			display: block;
			margin: 8px 0px 0px 0px;
		}
		@media (max-width: 1440px) {
			margin: 0px 0px 30px 0px;
		}
		@media (max-width:$md3+px){
			margin: 0px 30px 0px 0px;
			padding: 0px 0px 0px 5px;
		}

	}
}

.menu {

	/* .menu__body */
	&__body {
		display: flex;
		flex-direction: row;
		@media (max-width:768px){
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			transform:translateY(-100%);
			background: $bgliteColor;
			text-align: center;
			transition: .3s ease;
			&._active{
				transform: translateY(0);
			}
		}
	}

	/* .menu__list */
	&__list {
		@media (min-width:$md3+px){ 
			display: flex;
			justify-content: center;
		}
		@media (max-width:768px){
			display: block;
			margin: 50% 0px 0px 0px;
		}
	}
	
	/* .menu__item */
	&__item {
		@media (min-width:$md3+px){ 
			display: flex;
			color: $secondColor;
			margin: 0px 0px 0px 42px;
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;
			align-items: center;
			text-align: center;
			letter-spacing: -0.015em;
			white-space: nowrap;
		}
		@media (max-width:768px){
			margin: 50px 0px;
			justify-content:center;
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
		}
		@media (max-width: 320px){
			font-size: 18px;
			line-height: math.div(24, 18) * 100%;
		}
	}

	/* .menu__link */
	&__link {
		position: relative;
		&::after{
			content: '';
			width: 0;
			transition: .3s ease;
		}
		&:hover{
			color: #006DAE;
			&::after{
				content:'';
				position: absolute;
				left: 0;
				bottom: -2px;
				height: 2px;
				width: 100%;
				background: #006DAE;
			}
		}
		&._select {
			color: $bgColor;
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;
			@media (max-width: 768px){
				font-size: 24px;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 100%;
				height: 2px;
				background: $bgColor;

			}
		}
	}
}

//Burger
.icon-menu {
	display: none;

	@media (max-width: 768px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;

		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;

			&:first-child {
				top: 0px;
			}

			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}

		&._active {
			span {
				transform: scale(0);

				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}

				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}