//========================================== <START HEADING> ==========================================================


.heading {
	margin: 95px auto 0px;
	padding: 160px 0px;
	background: url('../img/main_page/header_bg.jpg') center  top / cover no-repeat;

	/* .heading__title */
	&__title {
		color: $mainColor;
		max-width: 1016px;
		font-weight: 600;
		@include adaptiv-value("font-size", 42, 21, 1);
		line-height: math.div(51, 42) * 100%;
		text-align: center;
		letter-spacing: -0.015em;
		text-transform: uppercase;
		margin: 0px auto 80px;
	}

	/* .heading__cards */
	&__cards {
		max-width: 964px;
		margin: 0px auto;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	/* .cards__item */
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 24px;
		width: 284px;
		background: #fff;
		box-shadow: 0px 2px 8px rgba(0, 108, 172, 0.1);
		border-radius: 8px;
		transition: all 0.3s ease 0s;
		@media (max-width: 992px){
		&:not(:last-child) {
			margin: 0px 56px 0px 0px;
			@media (max-width: 992px){
				margin: 0px 0px 56px 0px;
			}
		}
			width: 100%;
		}
		&:hover{
			box-shadow: 0px 4px 10px rgba(0, 108, 172, 0.25);
		}
	}

	/* .cards__img */
	&__img {
		width: 80px;
		height: 80px;
		margin: 0px 0px 12px 0px;
		img{
			width: 100%;
			height: 100%;
			flex: 0 0 80px;
		}
	}

	/* .cards__title */
	&__title {
		color: $mainColor;
		font-weight: 600;
		font-size: 24px;
		line-height: math.div(36, 24) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 24px 0px;
	}
	
	/* .cards__descr */
	&__descr {
		color: $secondColor;
		font-weight: normal;
		font-size: 14px;
		line-height: math.div(24, 14) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 24px 0px;
	}
}

//===========================================</ END HEADING>=========================================================

//==================================================< ADMINISTRATION>=================================================================

.administration {

	/* .administration__wrapper*/
	&__wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		padding: 80px 0px;
		@media (max-width: 1513px){
			justify-content: center;
		}
	}


	/* .administration__img */
	&__img {
		max-width: 750px;
		margin: 0px 10px 0px 0px;
		img{
			width: 100%;
			height: 100%;
		}
		@media (max-width: 1456px) {
			margin: 0px 0px 56px 0px;
		}
	}

	/* .administration__title */
	&__title {
		color: $mainColor;
		font-weight: 600;
		font-size: 24px;
		line-height: math.div(36, 24) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 24px 0px;
	}
	
	/* .administration__item */
	&__item {
		color:$thirdColor;
		font-weight: normal;
		font-size: 14px;
		line-height: math.div(24, 14) * 100%;
		letter-spacing: -0.015em;
		span{
			color: $mainColor;
			margin: 0px 0px 0px 12px;
		}
		&:not(:last-child) {
			margin: 0px 0px 12px 0px;
		}
		&:last-child {
			margin: 0px 0px 24px 0px;
		}
	}
}

//==================================================</ END ADMINISTRATION >===============================================================


//==================================================< START NEWS >===============================================================

.news {
	padding: 120px 0px;
	background: $bgmediumColor url('../img/icons/main_page/puls.svg') 0 57px / 492px 115px no-repeat;

	/* .news__wrapper */
	&__wrapper {
		display: flex;
		flex-direction: column;
		
	}

	/* .news__title */
	&__title {
		color: $mainColor;
		font-weight: 600;
		font-size: 24px;
		line-height: math.div(36, 24) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 16px 0px;
	}

	/* .news__subtitle */
	&__subtitle {
		color: $thirdColor;
		font-weight: normal;
		font-size: 14px;
		line-height: math.div(24, 14) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 80px 0px;
	}

	/* .news__block */
	&__block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 1620px) {
			justify-content: center;
		}
	}

	/* .news__item */
	&__item {
		display: flex;
		flex-direction: column;
		filter: drop-shadow(0px 2px 8px rgba(0, 108, 172, 0.1));
		border-radius: 4px;
		background: #fff;
		margin: 0px 0px 84px 0px;
		transition: all 0.3s ease 0s;
		&:hover{
			filter: drop-shadow(0px 4px 10px rgba(0, 108, 172, 0.25));
			border-radius: 4px;
		}
		@media (max-width: 1620px) {
			margin-right: 10px;
		}
		@media (max-width: 768px){
		margin-right: 0;
		}
	}
	
	/* .news__button */
	&__button {
		display: inline-block;
		align-self: center;
	}
}


.item {
	
	/* .item__news */
	&__news {
		width: 386px;
	}

	/* .item__img */
	&__img {
		max-width: 386px;
		img{
			width: 100%;
			height: 100%;
		}
	}

	/* .item__content */
	&__content {
		display: flex;
		height: 100%;
		flex-direction: column;
		padding: 24px;
	}

	/* .item__title */
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: math.div(36, 18) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 16px 0px;
	}

	/* .item__excerpt */
	&__excerpt {
		color: $secondColor;
		font-weight: normal;
		font-size: 14px;
		line-height: math.div(24, 14) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 16px 0px;
		a{
			&.link {
			
				/* .link__more */
				&__more {
					color: $bgColor;
					transition: all 0.3s ease 0s;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	/* .item__date */
	&__date {
		color: $thirdColor;
		font-weight: normal;
		font-size: 14px;
		line-height: math.div(24, 14) * 100%;
		letter-spacing: -0.015em;
		margin-top: auto;
	}
}



//==================================================</ END NEWS >================================================================
