.levels {
	padding: 40px 0px 120px 0px;

	/* .levels__section */
	&__section {
		flex: 1;
	}

	/* .levels__container */
	&__container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		@media (max-width: 1416px){
			flex-direction: column;
		}
	}

	/* .levels__side */
	&__side {
		margin: 0px 80px 0px 0px;
		@media (max-width: 1416px){
			margin: 0;
		}
	}

	/* .levels__list */
	&__list {
		display: flex;
		flex-direction: column;
		@media (max-width: 1416px) {
			flex-direction: row;
			justify-content: center;
		}
		@media (max-width: 824px){
			flex-direction: column;
		}
	}
	&__item{
		margin: 0px 0px 16px 0px;
		@media (max-width: 1416px){
			&:not(:last-child) {
				margin: 0px 60px 30px 0px;
			}
		}
		@media (max-width: 824px){
			margin: 0px auto 30px;
			&:not(:last-child) {
				margin: 0px auto 30px;
			}
		}
	}
	/* .levels__spollers */
	&__spollers {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	/* .levels__spoller */
	&__spoller {
		position: relative;
	}
}

.spoller {
	background: linear-gradient(110.49deg, rgba(255, 255, 255, 0.2) 34.12%, rgba(255, 255, 255, 0) 63.6%), #F8FCFF;
	border: 1px solid #D2E9F6;
	box-sizing: border-box;
	box-shadow: 0px 2px 8px rgba(0, 108, 172, 0.1);
	border-radius: 4px;
	margin: 0px 0px 16px 0px;
	&__wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	@media (max-width: 1132px){
		flex-direction: column;
	}
	}

	/* .spoller__heading */
	&__heading {
		display: flex;
		flex-direction: column;
		padding: 24px 24px 0 24px;
		align-items:flex-start;
	}

	/* .spoller__title */
	&__title {
		color: $secondColor;
		font-weight: 600;
		font-size: 18px;
		line-height: 36px;
		letter-spacing: -0.015em;
		margin: 0px 0px 24px 0px;
	}

	/* .spoller__address */
	&__address{
		color: $thirdColor;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: -0.015em;
		margin: 0px 0px 12px 0px;
		span{
			color: $mainColor;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: -0.015em;
			padding: 0px 0px 0px 12px;
		}
	}
	&__schedule {
		color: $thirdColor;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: -0.015em;
		span {
			color: $mainColor;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: -0.015em;
			padding: 0px 0px 0px 12px;
		}
	}

	/* .spoller__image */
	&__image {
		width: 400px;
		height: 236px;
		margin: 0px 0px 0px auto;
		&._active{
			display: none;
		}
		@media (max-width: 1132px){
			margin: 24px 0px 85px 24px;
			
		}
		@media (max-width: 480px){
			width: 300px;
		}
		@media (max-width: 375px){
			width: 240px;
		}
	}

	/* .spoller__content */
	&__content {
		padding: 0px 0px 0px 24px;
		margin: 0px 0px 85px 0px;
	}
	&__cards{
		display: flex;
		flex-wrap: wrap;
		margin: 40px 0px 0px 0px;
	}
	/* .spoller__button */
	&__button {
		position: absolute;
		bottom: 24px;
		z-index: 2;
	}
	&__item{
		background: #FFFFFF;
		border: 1.16105px solid #F8FCFF;
		box-shadow: 0px 2px 8px rgba(0, 108, 172, 0.1),
		inset 0px 4px 22px rgba(255, 255, 255, 0.25);
		border-radius: 4px;
		margin: 0px 16px 16px 0px;
		width: 245.4px;
		overflow: hidden;
	}
	&__photo{
		width: 245.4px;
		height: 161px;
	}
	&__data{
		width: 245.4px;
		padding: 30px 14px 14px 14px;
		background: radial-gradient(75.19% 75.19% at 26.68% 24.81%, #FFFFFF 77.08%, rgba(255, 255, 255, 0.49) 100%);
	}
	&__profession{
		color: $mainColor;
		font-weight: 500;
		font-size: 14px;
		line-height: math.div(24, 14) * 100%;
		letter-spacing: -0.015em;
		margin: 0px 0px 8px 0px;
	}
	&__name,
	&__phone{
		color: $secondColor;
		font-weight: normal;
		font-size: 14px;
		line-height: math.div(26, 14) * 100%;
		letter-spacing: -0.015em;
	}
}




